.cupboard {
	width: 75%;
}

.items-container {
	padding: 1em;
	background-color: white;
	border: 3px solid var(--maximum-red);
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	column-gap: 1.5em;
	row-gap: 1.5em;
}

@media (max-width: 1128px) {
	.cupboard {
		width: 100%;
	}
}