.cupboard-nav {
	background-color: var(--maximum-red);
	display: flex;
	column-gap: 2em;
	padding: 1em 1.25em;
	border-radius: 20px 20px 0 0;
	flex-wrap: wrap;
}

.cupboard-pagination {
	display: flex;
	width: 220px;
	justify-content: space-between;
	align-items: center;
	border-right: 1px solid white;
	padding-right: 2em;
}

.cupboard-pagination.hide-true {
	width: auto;
}

.cupboard-pagination div {
	display: flex;
	column-gap: 0.7em;
}

.cupboard-pagination button {
	text-decoration: underline;
	border: none;
	background: none;
}

.cupboard-pagination button:enabled:hover {
	cursor: pointer;
}

.cupboard-pagination button:disabled {
	color: var(--maximum-red);
	text-decoration: none;
}

.cupboard-search {
	display: flex;
	column-gap: 1em;
	border-right: 1px solid white;
	padding-right: 2em;
}

.cupboard-search form {
	display: flex;
}

.cupboard-search form input {
	padding: 0.5em;
	border-radius: 5px 0 0 5px;
	border-left: 2px solid var(--dark-red);
	border-top: 2px solid var(--dark-red);
	border-bottom: 2px solid var(--dark-red);
	border-right: none;
	width: 200px;
	color: black;
}

.cupboard-search form button {
	border-radius: 0 5px 5px 0;
	background-color: var(--dark-red);
	border-right: 2px solid var(--dark-red);
	border-top: 2px solid var(--dark-red);
	border-bottom: 2px solid var(--dark-red);
	border-left: none;
}

.cupboard-search .clear {
	font-size: 0.7rem;
	padding: 0.5em 1em;
	border-radius: 5px;
	background-color: var(--dark-red);
	border: none;
}

.cupboard-sort {
	color: var(--speed-cadet);
	border-radius: 5px;
	border: 2px solid var(--dark-red);
	font-size: 0.7rem;
	padding: 0.5em 1em;
}

.cupboard-sort:hover {
	cursor: pointer;
}

.cupboard-sort:focus {
	outline: none;
}

@media (max-width: 923px) {
	.cupboard-nav {
		row-gap: 1em;
		justify-content: center;
	}

	.cupboard-search {
		border-right: none;
	}
}

@media (max-width: 724px) {
	.cupboard-pagination {
		border-right: none;
	}
}

@media (max-width: 724px) {
	.cupboard-search form input {
		width: 100%;
	}
}