/* COLOR SCHEME */

:root {
	--dark-red: #9c0f0f;
	--maximum-red: #E21111;
	--speed-cadet: #212738;
	--maximum-green-yellow: #e4e943;
	--dark-green-yellow: #d1d554;
	--cultured: #EDF2EF;
	--cultured-medium: #e0ebe4;
	--cultured-dark: #bfd3c8;
	--cultured-darkest: #717e77;
	--baby-pink: #FFCACA;
	--light-gray: #e8e8e8;
}


/* FONTS */

@font-face {
	font-family: comfortaa-light;
	src: url("./fonts/Comfortaa-Light.ttf");
}

@font-face {
	font-family: comfortaa-regular;
	src: url("./fonts/Comfortaa-Regular.ttf");
}

@font-face {
	font-family: comfortaa-bold;
	src: url("./fonts/Comfortaa-Bold.ttf");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
	color: white;
	font-family: comfortaa-regular
}

body {
	background-color: var(--cultured);
}

.App {
	background-color: var(--cultured);
  min-height: 100vh;
}

button:hover {
	cursor: pointer;
}