:root {
	--darkest-red: #630b0b;
  --dark-red: #890D0D;
  --primary-red: #9c0f0f;
  --bright-red: #e21111;
	--light-red: #ffcaca;
	--basic-gray: #D9D9D9;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
	background-color: var(--primary-red);
}

.App {
	background-color: var(--primary-red);
  min-height: 100vh;
	color: white;
}