.item-info {
	display: flex;
	flex-direction: column;
	row-gap: 1em;
}

.item-info .user-card {
	padding: 0 0.7em;
	display: flex;
	border-radius: 999px;
	align-items: center;
	column-gap: 0.7em;
	font-weight: bolder;
	background: linear-gradient(to right, #beeafc 20%, #7cbdff 100%);
	border: 2px solid #7cbdff;
}

.item-info .user-card:hover {
	cursor: pointer;
}

.item-info .user-card p {
	color: var(--speed-cadet);
	font-size: 0.9rem;
}

.item-info .user-card div {
	height: 50px;
	margin: 0.2em 0;
	display: flex;
	align-items: center;
}

.item-info .user-card img {
	object-fit: cover;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: 2px solid white;
	background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
}

.item-info a {
	text-decoration: none;
}

.item-image-container {
	display: flex;
	justify-content: center;
}

.item-front-image {
	z-index: 1000;
	position: absolute;
}

.item-info img {
	max-height: 300px;
}

.item-image-blur {
	width: 100%;
	display: flex;
	justify-content: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	opacity: 0.2;
}

.item-info .description {
	color: var(--speed-cadet);
}

.tag-display {
	display: flex;
	column-gap: 1em;
	flex-wrap: wrap;
}

.tag-display button {
	font-family: comfortaa-bold;
	font-weight: bolder;
	font-size: 0.8rem;
	border: none;
	border-radius: 5px;
	padding: 0.5em 1.25em;
	color: var(--speed-cadet);
	font-weight: bolder;
	background-color: var(--maximum-green-yellow);
	border: 2px solid var(--dark-green-yellow);
}

.item-status-bar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 2px solid var(--speed-cadet);
}

.item-status-bar p {
	color: var(--speed-cadet);
	font-family: comfortaa-bold;
}

.item-status-bar button {
	font-family: comfortaa-bold;
	font-weight: bolder;
	font-size: 0.8rem;
	border-left: 2px solid var(--dark-red);
	border-right: 2px solid var(--dark-red);
	border-top: 2px solid var(--dark-red);
	border-bottom: none;
	border-radius: 5px 5px 0 0;
	padding: 0.4em 0.7em;
	color: white;
	font-weight: bolder;
	background-color: var(--maximum-red);
}

.delete-item {
	margin-top: 1em;
	border: none;
	padding: 0.4em 0.7em;
	border-radius: 5px;
	align-self: flex-start;
}

.delete-item.delete-1 {
	color: var(--maximum-red);
	border: none;
	background-color: none;
	font-family: comfortaa-bold;
}

.delete-item.delete-2 {
	color: white;
	background-color: var(--maximum-red);
}