#tickets-container {
	margin-top: 1rem;
	background-color: var(--light-gray);
}

#tickets-container h3 {
	background-color: var(--light-blue);
	padding: 0.5rem;
}

#tickets-list {
	padding: 0.5rem;
	display: flex;
	flex-direction: column;
	row-gap: 0.5rem;
}