#item-display {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	align-items: center;
	justify-content: center;
}

#item-display-container {
	background-color: var(--dark-red);
	width: 500px;
	padding: 1rem;
}

#item-display-header {
	display: flex;
	justify-content: space-between;
}

#lemme-borrow-button {
	margin-top: 1rem;
	width: 100%;
	background-color: var(--bright-red);
	border: none;
	color: white;
	padding: 0.5rem;
	font-size: 1.3rem;
}

#lemme-borrow-button:hover {
	cursor: pointer;
}