.item-display {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	align-items: center;
	justify-content: center;
}

.item-display-container {
	background-color: var(--cultured);
	width: 500px;
	padding: 1em 1.5em;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	row-gap: 1em;
	margin: 0 2em;
}

.item-display-header {
	background-color: var(--speed-cadet);
	color: black;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1em 1.25em;
	border-radius: 5px;
}

.item-display-header p {
	font-size: 1.5rem;
	color: var(--maximum-green-yellow);
}

.item-display-header svg:hover {
	cursor: pointer;
}

.lemme-borrow-btn {
	background-color: var(--maximum-red);
	border: 2px solid var(--dark-red);
	padding: 0.5em 1.25em;
	border-radius: 5px;
	font-size: 1rem;
}

.neutral-borrow-btn {
	background-color: var(--cultured-darkest);
	border: 2px solid var(--speed-cadet);
	padding: 0.5em 1.25em;
	border-radius: 5px;
	font-size: 1rem;
	width: 100%;
}
