.signup-container .update-password {
	color: var(--speed-cadet);
	margin-top: 1em;
	text-decoration: underline;
}

.signup-container .update-password:hover {
	cursor: pointer;
}

.signup-container .new-password {
	display: flex;
	flex-direction: column;
	row-gap: 1em;
}

.update-password-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 2px solid var(--speed-cadet);
}

.update-password-header p {
	color: var(--speed-cadet);
	font-family: comfortaa-bold;
}

.update-password-header button {
	font-family: comfortaa-bold;
	font-weight: bolder;
	font-size: 0.8rem;
	border-left: 2px solid var(--dark-red);
	border-right: 2px solid var(--dark-red);
	border-top: 2px solid var(--dark-red);
	border-bottom: none;
	border-radius: 5px 5px 0 0;
	padding: 0.4em 0.7em;
	color: white;
	font-weight: bolder;
	background-color: var(--maximum-red);
	margin: 0;
}