.dashboard {
	width: 40%;
	max-width: 600px;
	align-self: flex-start;
	background-color: white;
	padding: 0.7em;
	border-radius: 5px;
	border: 2px solid var(--cultured-dark);
	display: flex;
	flex-direction: column;
	row-gap: 0.7em;
}

.dashboard .dashboard-header {
	color: var(--maximum-red);
	border-radius: 5px;
	text-align: center;
	font-size: 1.8rem;
	width: 100%;
}

.notifications-header {
	font-size: 1.2rem;
	background-color: var(--speed-cadet);
	display: flex;
	justify-content: space-between;
	padding: 0.6rem 0.5rem;
	border-radius: 5px;
}

.notifications-header.true {
	border-radius: 5px 5px 0 0;
}

.notifications-header div {
	color: white;
	font-size: 1rem;
	font-weight: bolder;
	display: flex;
	align-items: center;
	column-gap: 0.5em;
	margin-right: -0.75em;
}

.notifications-header .zero, .notifications-header .zero svg path {
	color: var(--speed-cadet);
}

.notifications-list {
	padding: 1em;
	display: flex;
	flex-direction: column;
	row-gap: 0.7em;
	border: 3px solid var(--speed-cadet);
	border-radius: 0 0 5px 5px;
	color: var(--speed-cadet);
}

.notifications a {
	text-decoration: none;
}

.notifications .arrow {
	cursor: pointer;
}