.notification-card {
	padding: 0 0.7em;
	display: flex;
	border-radius: 999px;
	align-items: center;
	column-gap: 0.7em;
	font-weight: bolder;
}

.notification-card p {
	color: var(--speed-cadet);
}

.friend-request-card {
	background: linear-gradient(to right, #beeafc 20%, #7cbdff 100%);
	border: 2px solid #7cbdff;
}

.friend-request-card img {
	background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
}

.pending, .approved {
	background: linear-gradient(to right, #fbe28f 20%, #f4ca41 100%);
	border: 2px solid #f4ca41;
}

.active.overdue-false {
	background: linear-gradient(to right, #d4fcb2 20%, #92e945 100%);
	border: 2px solid #92e945;
}

.overdue-true {
	background: linear-gradient(to right, #f6c0c0 20%, #f36c6c 100%);
	border: 2px solid #f36c6c;
	
}

.notification-card .img-div {
	height: 50px;
	margin: 0.7em 0;
}

.notification-card img {
	object-fit: cover;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: 2px solid white;
}

.notification-info {
	margin: 1em 0;
	display: flex;
	flex-direction: column;
	row-gap: 0.5rem;
}