.home {
	width: 90%;
	max-width: 3000px;
	margin: 0 auto;
	padding: 2em 0;
	margin-bottom: 0;
	display: flex;
	justify-content: space-between;
}

@media (max-width: 1400px) {
	.home {
		flex-direction: column;
		row-gap: 3em;
	}

	.feed {
		flex-grow: 0;
	}

	.feed-container {
		max-width: 1000px;
	}

	.dashboard {
		width: 100%;
		margin: 0 auto;
	}

	.feed-card {
		margin-right: 0;
	}
}

@media (max-width: 775px) {
	.feed-container {
		width: 100%;
	};
}

@media (max-width: 695px) {
	.feed-header{
		width: 90%;
		padding: 1.25em 1.25em;
	}
}

@media (max-width: 555px) {
	.notifications-header p {
		font-size: 1rem;
	}
}