#friend-card {
	display: flex;
	width: 100%;
	margin-bottom: 1rem;
	background-color: var(--bright-red);
}

#friend-card a {
	width: 20%;
	height: 100%;
	display: flex;
	padding: 0.3rem;
	background-color: var(--light-gray);
	
}

#friend-card img {
	border-radius: 50%;
	background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
	width: 100%;
}

#friend-card-info {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}

#friend-card h2 {
	padding: 0.5rem;
}

#friend-card-details {
	flex-grow: 1;
	background-color: var(--primary-red);
}