#my-friends {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	align-items: center;
	justify-content: center;
}

#friends-container {
	background-color: var(--dark-red);
	width: 500px;
	/* display: flex;
	flex-direction: column; */
	padding: 1rem;
}

#my-friends-header {
	display: flex;
	justify-content: space-between;
}

#friends-list {
	margin-top: 1rem;
	border-top: 1px solid white;
}
