.profile {
	width: 90%;
	max-width: 3000px;
	margin: 0 auto;
	padding: 2em 0;
	display: flex;
	justify-content: space-between;
}

@media (max-width: 1128px) {
	.profile {
		flex-direction: column;
		row-gap: 1em;
	}
}