#profile {
	display: flex;
	justify-content: center;
	margin-top: 2rem;
	border: 1px solid white;
}

#profile-container {
	width: 85%;
}

#profile-header {
	display: flex;
	/* flex-wrap: wrap; */
}

#user-card {
	display: flex;
	width: 40%;
}

#profile-pic {
	border-radius: 50%;
	background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
	;
	margin-right: 0.5rem;
	width: 40%;
}

#cupboard-search-container {
	flex-grow: 1;
	background-color: var(--basic-gray) ;
}