#user-info {
	flex-grow: 1;
	border-top: 1px solid white;
	border-left: 1px solid white;
	border-bottom: 1px solid white;
	display: flex;
	flex-direction: column;
}

#user-info h3 {
	border-bottom: 1px solid white;
	padding: 0.5rem;
	text-align: center;
}

#user-actions {
	padding: 0 5%;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	justify-content: space-evenly;
}

#user-btn {
	color: white;
	background: var(--bright-red);
	border: 1px solid white;
	height: 20%;
}

#user-actions button:hover {
	cursor: pointer;
}

#unfriend-container {
	display: flex;
	height: 20%;
	border: 1px solid white;
}

#unfriend-container div {
	color: black;
	width: 60%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--basic-gray);
}

#unfriend-container button {
	color: white;
	background-color: var(--dark-red);
	width: 20%;
}

#unfriend-container button:hover {
	background-color: var(--bright-red);
}

#unfriend-yes {
	border: 1px solid white;
}

#unfriend-no {
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	border-right: 1px solid white;
	border-left: none;
}