.ticket {
	width: 90%;
	max-width: 3000px;
	margin: 0 auto;
	padding: 2em 0;
	margin-bottom: 0;
	display: flex;
	justify-content: space-between;
}

.ticket-not-found {
	color: black;
	font-size: 1.2rem;
	margin-top: 1em;
	margin-left: 1em;
}

@media (max-width: 1075px) {
	.ticket {
		flex-direction: column;
		row-gap: 2em;
	}
}
