#ticket {
	display: flex;
	justify-content: center;
	margin-top: 2rem;
	flex-wrap: wrap;
}

#ticket-container {
	width: 90%;
	display: flex;
	justify-content: space-between;
}

#item-panel {
	width: 35%;
	display: flex;
	justify-content: center;
}

#message-panel {
	width: 60%;
}