.ticket {
	width: 90%;
	max-width: 3000px;
	margin: 0 auto;
	padding: 2em 0;
	margin-bottom: 0;
	display: flex;
	justify-content: space-between;
}

@media (max-width: 1075px) {
	.ticket {
		flex-direction: column;
		border: 1px solid red;
		row-gap: 2em;
	}
}
