.signup {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	align-items: center;
	justify-content: center;
}

.signup-container {
	background-color: var(--cultured);
	width: 500px;
	padding: 1em 1.5em;
	border-radius: 5px;
	margin: 0 2em;
}

.signup-header {
	background-color: var(--speed-cadet);
	color: black;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1em 1.25em;
	border-radius: 5px;
}

.signup-header p {
	font-size: 1.5rem;
	color: var(--maximum-green-yellow);
}

.signup-header svg:hover {
	cursor: pointer;
}

.demo-disclaimer {
	color: var(--maximum-red);
}

.signup form {
	padding: 1em 0.5em;
	display: flex;
	flex-direction: column;
	row-gap: 1em;
}

.signup label {
	display: flex;
	justify-content: space-between;
	align-items: center;
	
}

.signup label p {
	width: 50%;
	color: var(--speed-cadet);
	line-height: 1.7rem;
}

.signup input, .signup button {
	font-size: 1rem;
	border: none;
	border-radius: 5px;
}

.signup input {
	width: 50%;
	color: var(--speed-cadet);
	padding: 0.5em;
	border: 2px solid var(--cultured-dark);
}

.signup button {
	margin-top: 1em;
	padding: 0.5em 1.25em;
	color: var(--speed-cadet);
	font-weight: bolder;
	background-color: var(--maximum-green-yellow);
	border: 2px solid var(--dark-green-yellow);
}

.signup .errors {
	list-style: none;
}

.signup .errors li {
	color: var(--maximum-red);
	line-height: 1.5rem;
}

@media (max-width: 445px) {
	.signup form {
		row-gap: 2em;
	}
	
	.signup label {
		flex-direction: column;
		row-gap: 0.5em;
	}

	.signup input {
		width: 100%;
	}

	.signup label p {
		width: 100%;
	}
}

@media( max-width: 372px) {
	.signup-header p {
		line-height: 2.5rem;
	}
}