.welcome {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	width: 90%;
	max-width: 1040px;
	margin: 3em auto;
}

.welcome div {
	width: 58%;
}

.welcome img {
	width: 37%;
}

.welcome h1 {
	font-size: 4rem;
	color: var(--speed-cadet);
}

.welcome p {
	font-size: 2rem;
	color: var(--dark-red);
	margin-top: 0.2em;
	line-height: 2.5rem;
}

@media (max-width: 1155px) {
	.welcome {
		flex-direction: column;
		row-gap: 2em;
		text-align: center;
		margin-top: 3em;
	}

	.welcome div {
		width: 100%;
	}

	.welcome img {
		width: 70%;
	}
}