.welcome {
	display: flex;
	justify-content: center;
	align-items: center;
	height: calc(100vh - 83px);
	width: 100%;
	padding: 0 3em;
}

.welcome-card {
	display: flex;
	align-items: center;
	column-gap: 3em;
	height: 30%;
}

.welcome img {
	height: 100%;
}

.welcome-text h1 {
	font-size: 4rem;
	color: var(--speed-cadet);
}

.welcome-text p {
	font-size: 2rem;
	color: var(--dark-red);
	line-height: 2.8rem;
}

@media (max-width: 989px) {
	.welcome {
		display: block;
	}

	.welcome-card {
		flex-direction: column;
		row-gap: 2em;
		margin-top: 5em;
	}

	.welcome-text h1 {
		text-align: center;
	}
	
	.welcome-text p {
		font-size: 1.5rem;
		color: var(--dark-red);
		line-height: 2.8rem;
		text-align: center;
	}
}

@media (max-width: 631px) {
	.welcome-text h1 {
		font-size: 3rem;
	}
	
	.welcome-text p {
		font-size: 1.5rem;
		color: var(--dark-red);
		line-height: 2.8rem;
	}
}

@media (max-width: 488px) {
	.welcome img {
		display: none;
	}

	.welcome-text h1 {
		display: none;
	}
	
	.welcome-text p {
		display: none;
	}
}