.welcome {
	display: flex;
	justify-content: center;
	align-items: center;
	height: calc(100vh - 83px);
	width: 100%;
	padding: 0 3em;
}

.welcome-card {
	display: flex;
	align-items: center;
	column-gap: 3em;
	height: 30%;
}

.welcome img {
	height: 100%;
}

.welcome-text h1 {
	font-size: 4rem;
	color: var(--speed-cadet);
}

.welcome-text p {
	font-size: 2rem;
	color: var(--dark-red);
	line-height: 2.8rem;
}