.header {
  padding: 1rem 2rem;
	background-color: var(--dark-red);
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.header a {
	color: white;
}

.header a:hover {
	cursor: pointer;
}
