.login {
	display: flex;
	flex-wrap: wrap;
	column-gap: 1.25em;
	row-gap: 1em;
	align-items: center;
}

.login form {
	display: flex;
	flex-wrap: wrap;
	column-gap: 1em;
	row-gap: 1em;
	justify-content: center;
}

.login input, .login button {
	font-size: 1rem;
	border: none;
	border-radius: 5px;
}

.login button, .login span {
	padding: 0.5em 1.25em;
}

.login .create-account {
	border-left: 1px solid white;
}

.login input {
	color: black;
	padding: 0.5em;
}

.login button {
	color: var(--speed-cadet);
	font-weight: bolder;
	background-color: var(--maximum-green-yellow);
}

.login span:hover {
	cursor: pointer;
}

.login .error {
	color: var(--maximum-green-yellow);
	text-decoration: underline;
}

.login a {
	text-decoration: none;
}

@media (max-width: 850px) {
	.login {
		justify-content: center;
	}

	.login .create-account {
		border: none;
	}
}