.nav {
	display: flex;
	flex-wrap: wrap;
	column-gap: 1.25em;
	row-gap: 1em;
	align-items: center;
}

.nav-links {
	display: flex;
	flex-wrap: wrap;
	column-gap: 1em;
	row-gap: 1em;
}

.nav a {
	text-decoration: none;
	padding: 0.5em 1.25em;
}

.nav a:hover {
	text-decoration: underline;
}

.nav input {
	font-size: 1rem;
	border: none;
	border-radius: 5px 0 0 5px;
	color: black;
	padding: 0.5em;
	width: 300px;
}

.nav button {
	padding: 0.5em 1.25em;
	font-size: 1rem;
	border: none;
	border-radius: 5px;
	color: var(--speed-cadet);
	font-weight: bolder;
	background-color: var(--maximum-green-yellow);
}

.nav form {
	display: flex;
	border-right: 1px solid white;
	padding-right: 1.25em;
}

.nav form button {
	border-radius: 0 5px 5px 0;
	padding: 0.5em;
	background-color: var(--maximum-red);
}

.nav .signout:hover {
	background-color: var(--baby-pink);
}

@media (max-width: 819px) {
	.nav {
		flex-direction: column;
		row-gap: 2em;
	}

	.nav form {
		border: none;
		padding: none;
	}
}