.messenger-container {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

.messenger {
	width: 800px;
	background: white;
	border: 2px solid var(--cultured-dark);
	border-radius: 50px 50px 20px 20px;
	padding: 0.7em;
	display: flex;
	flex-direction: column;
	row-gap: 1em;
}

.messenger-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 1em 0 1em;
}

.messenger-header div {
	display: flex;
	align-items: flex-end;
	column-gap: 1em;
}

.messenger-header div p {
	color: var(--speed-cadet);
	padding-bottom: 0.1em;
}

.messenger-header .user-pic {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	object-fit: cover;
	object-position: center;
	background: linear-gradient(to right, #beeafc 20%, #7cbdff 100%);
}

.messenger-header .logo {
	font-size: 2rem;
	margin-top: 0.5em;
	color: var(--maximum-red);
}

.message-list {
	background: linear-gradient(to bottom, #ffffff  0%, #ddedfe  100%);
	border-radius: 20px;
	padding: 1rem;
	height: 400px;
	display: block;
	overflow-y: scroll;
	display: flex;
	flex-direction: column;
	flex-direction: column-reverse;
	row-gap: 1rem;;
}

@media (max-width: 1375px) {
	.messenger {
		width: 600px
	}
}