#message-form {
	background-color: var(--bright-red);
	padding: 1rem;
	display: flex;
}

#message-form input {
	flex-grow: 1;
	padding: 0.5rem;
	border: none;
}

#message-form button {
	border: none;
	padding: 0.5rem;
}

#message-form button:hover {
	cursor: pointer;
}