.message {
	padding: 0.5rem 1.5rem;
	border-radius: 999px;
	line-height: 1.5rem;
}

.message.automated {
	align-self: flex-start;
	background-color: white;
	color: black;
	width: 100%;
}

.message.sender {
	align-self: flex-start;
	background-color: #f2f752;
	color: black;
	width: 40%;
}

.message.receiver {
	color: black;
	align-self: flex-end;
	background-color: #b6d9ff;
	width: 40%;
}
